body {
    background-color: #4d4d4d;
    color: #f0821c;
}

#splashScreen {
    text-align: center;
    color: #f0821c;
}

#mainWindow {
    display: none;
}

.window {
    padding: 10px;
}

.section {
    color: black;
    margin-top: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    border: 2px solid #f0821c;
}

.section_content > div {
    margin: 5px 0px;
}

.section_content {
    padding: 5px;
}

.loading {
    display: none;
}

.settings {
    display: none;
    color: black;
}

#settingsMask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

#settingsDialog {
    background-color: white;
    position:fixed;
    top:35%;
    left:50%;
    margin-left: -180px;
    width:320px;
    min-height: 100px;
    border: 1px solid black;
    padding: 20px;
    font-size: .75em;
}

#menu_bar {
    float: right;
}

#menu_bar li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

#menu_bar a {
    color: #f0821c;
    font-weight: bold;
    text-decoration: none;
}

#main_msg {
    padding: 0px 5px;
    -webkit-border-radius: 5px;
    display: none;
}

#status_bar {
    height: 25px;
    text-align: center;
}

.message {
    background-color: #fff79d;
}

select {
    width: 275px;
}

.select_label {
    display: inline-block;
    width: 75px;
}

.section > h3 {
    margin-top: 0px;
    background-color: #f0821c;
}
